<!DOCTYPE html>
<html>
  <head>
    <title>edj Articles</title>
    <link rel="stylesheet" type="text/css" href="../edj.css">
    <meta name="description" content="edj function summary">
    <meta name="keywords" content="edj, articles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>edj Articles</h1>

    These either announce news, or provide in-depth explanations of related
    groups of edj features.

    @@@
  </body>
</html>
